<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/default}">
<head>
    <title>コードマスタ設定</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" th:href="@{/static/css/video.css}" rel="stylesheet"/>
    <style>
        h2 {
            background-color: #f5f5dc;
            margin: 0px;
        }
        h3 {
            background-color: #d4f5d4;
            margin: 0px;
        }
    </style>
</head>
<body>
<div layout:fragment="mainContent">
    <h2>マスタ設定</h2>
    <h3>コードマスタ設定</h3>
    <h4><a href="/settings/codes/languages">言語マスタ設定</a></h4>
    <h4><a href="/settings/codes/citizenships">国籍マスタ設定</a></h4>

    <div class="underBtn">
        <a class="homeLink" href="/">ホーム</a>
        <a class="return" href="/settings">戻る</a>
    </div>
</div>
</body>
</html>