<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/default}">
<head>
    <title>コードマスタ設定</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" th:href="@{/static/css/video.css}" rel="stylesheet"/>
    <style>
        h2 {
            background-color: #f5f5dc;
            margin: 0px;
        }
    </style>
</head>
<body>
<div layout:fragment="mainContent">
    <h2>コードマスタ設定</h2>
    <a href="/settings/new">新規登録</a> CODE SETTING TEST!!!!
<!--    <table class="table table-striped" border="1">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>#</th>-->
<!--            <th>タイトル</th>-->
<!--            <th>リリース年</th>-->
<!--            <th>閲覧状況</th>-->
<!--            <th>削除</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody th:remove="all-but-first" th:each="movie: ${movieList}" th:object="${movie}">-->
<!--        <tr>-->
<!--            <td th:text="'#' + ${movie['id']}"></td>-->
<!--            <td th:text="${movie['title']}"></td>-->
<!--            <td th:text="${movie['releaseYear']} + '年'"></td>-->
<!--            <td th:text="${movie['watchedFlg']==true}? '閲覧済' : '閲覧未済'"></td>-->
<!--            <td>-->
<!--                <form th:action="@{/movie/delete/{id}(id=${movie['id']})}" th:method="post">-->
<!--                    <input type="submit" value="削除" />-->
<!--                </form>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
    <a class="homeLink" href="/">ホーム</a>
</div>
</body>
</html>