<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/default}">
<head>
    <title>映画管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" th:href="@{/css/video.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="mainContent">
    <h2>映画管理</h2>

<table class="table table-striped" border="1">
    <thead>
    <tr>
        <th>#</th>
        <th>タイトル</th>
        <th>リリース年</th>
        <th>閲覧状況</th>
    </tr>
    </thead>
    <tbody th:remove="all-but-first" th:each="movie: ${movieList}" th:object="${movie}">
    <tr>
        <td th:text="${movie['id']}"></td>
        <td th:text="${movie['title']}"></td>
        <td th:text="${movie['releaseYear']}"></td>
        <td th:text="${movie['watchedFlg']==true}? '閲覧済' : '閲覧未済'"></td>

<!--        <td>-->
<!--            <form th:action="@{/movie/{id}(id=${movie['id']})}" th:method="get">-->
<!--                <input type="submit" value="記事の詳細" />-->
<!--            </form>-->
<!--        </td>-->
<!--        <td>-->
<!--            <form th:action="@{/movie/delete/{id}(id=${movie['id']})}" th:method="post">-->
<!--                <input type="submit" value="削除" />-->
<!--            </form>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>
    <a class="homeLink" href="/">ホーム</a>
</div>
</body>
</html>