<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/default}">
<head>
    <title>映画管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" th:href="@{/css/video.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="mainContent">
    <h2>映画管理</h2>
    <div class="contents">

        <form th:action="@{/movies}" th:method="get">
            <div class="tableHeadDiv">
                <a href="/movies/new" class="btn-gradient-blue newBtn" style="margin-bottom: 10px;">新規登録</a>
                <input class="searchTextBox" name="search" type="text" th:value="${search}" placeholder="映画検索">
                <button class="btn-gradient-blue searchBtn" type="submit">検索</button>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 70px;">#</th>
                <th>タイトル</th>
                <th>リリース年</th>
                <th>閲覧状況</th>
                <th>詳細</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first" th:each="movie: ${movieList}" th:object="${movie}">
            <tr>
                <td th:text="'#' + ${movie['id']}" style="width: 70px;"></td>
                <td th:text="${movie['title']}"></td>
                <td th:text="${movie['releaseYear']} + '年'"></td>
                <td th:classappend="${movie['watchedFlg']==true}? 'activeText' : 'inactiveText'"
                    th:text="${movie['watchedFlg']==true}? '閲覧済' : '閲覧未済'"></td>
                <td>
                    <form th:action="@{/movies/{id}(id=${movie['id']})}" th:method="get">
                        <input type="submit" value="詳細を表示" class="btn-gradient-gray" style="width: 100%; height: 150%;" />
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center; margin-top: 10px;">
            <a href="/movies" class="paging"><<  </a>
            <a th:if="${previousPage}" th:href="@{/movies?search={search}&page={page}(page=${previousPage}, search=${search})}" class="paging">＜</a>
            <a th:if="${previousPage}" th:href="@{/movies?search={search}&page={page}(page=${previousPage}, search=${search})}" class="paging">
                <label th:text="${previousPage}"></label>
            </a>
            <label th:text="'['+${currentPage}+']'" class="paging"></label>
            <a th:if="${nextPage}" th:href="@{/movies?search={search}&page={page}(page=${nextPage}, search=${search})}" class="paging">
                <label th:text="${nextPage}"></label>
            </a>
            <a th:if="${nextPage}" th:href="@{/movies?search={search}&page={page}(page=${nextPage}, search=${search})}" class="paging">＞</a>
            <a th:if="${maxPage}" th:href="@{/movies?search={search}&page={page}(page=${maxPage}, search=${search})}" class="paging">  >></a>
        </div>
    </div>
    <div class="underBtn">
        <a class="homeLink" href="/">ホーム</a>
    </div>
</div>
</body>
</html>