<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/default}">
<head>
    <title>映画詳細</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/video.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="mainContent">
    <h2>映画詳細</h2>
    <div class="contents">
        <h3 class="detailHead detailId" th:text="'#' + ${movieDetail['id']}"></h3>
        <h1 class="detailHead detailTitle" th:text="${movieDetail['title']}"></h1>
        <h5 class="detailHead" th:text="'（' + ${movieDetail['releaseYear']} + '年）'"></h5>
        <button class="watchedBtn" th:classappend="${movieDetail['watchedFlg']==true}? 'btn-gradient-active' : 'btn-gradient-inactive'" id="watchedBtn"
                th:text="${movieDetail['watchedFlg']==true}? '閲覧済' : '閲覧未済'"></button>
        <button class="deleteBtn" th:attr="onclick='clickDeleteBtn(' + ${movieDetail['id']} + ');'"  >削除</button>

        <div id="modal" class="modal" style="display: none">
            <div class="modal-content">
                <div class="modal-body">
                    <h1>削除してもよろしいですか？</h1>
                    <form id="deleteForm" th:method="post">
                        <input class="pinkBtn" type="submit" value="削除" />
                    </form>
                    <input class="pinkBtn" type="submit" value="キャンセル" th:onclick="clickDeleteBtn(0)" />
                </div>
            </div>
        </div>

        <div class="detailBody">
            <h5 class="detailContent" th:text="'言語：' + ${movieDetail['originalLanguage']}"></h5>
            <h5 class="detailContent" th:text="'上映時間：' + ${movieDetail['showTimes']} + '分'"></h5>
            <h5 class="detailContent" th:if="${actorName1}!=null">出演：[[${actorName1['name']}]]</h5>
            <h5 class="detailContent" th:if="${actorName2}!=null">　　：[[${actorName2['name']}]]</h5>
            <h5 class="detailContent" th:if="${actorName3}!=null">　　：[[${actorName3['name']}]]</h5>
            <h5 class="detailContent" th:if="${actorName4}!=null">　　：[[${actorName4['name']}]]</h5>
        </div>
        <img th:src="${imageUrl}" class="moviePoster">

    </div>

    <div class="underBtn">
        <a class="homeLink" href="/">ホーム</a>
        <a class="return" href="/movies">一覧へ戻る</a>
    </div>
    <script th:inline="javascript">
        function watchedBtnClick() {
                var el = document.getElementById('watchedBtn');
                el.setAttribute("disabled", "disabled");
                var xhr = new XMLHttpRequest();
                var url = "/movies/[[${movieDetail['id']}]]/watched";
                xhr.open('POST', url, true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send();
                xhr.onload = function () {
                    var res = xhr.response;
                    console.log('CLICKED!' + res);
                    if(res==="true"){
                        console.log("trueだよ");
                        console.log(el);
                        el.innerText = "閲覧済";
                        el.className = "btn-gradient-active";
                    }else {
                        console.log("falseだよ");
                        console.log(el);
                        el.innerText = "閲覧未済";
                        el.className = "btn-gradient-inactive";
                    }
                    
                    el.removeAttribute("disabled");
                }
        }
        var el = document.getElementById('watchedBtn');
        el.addEventListener('click', watchedBtnClick);

        var condition = false;
        function clickDeleteBtn(id) {
            console.log(id);
            var el = document.getElementById('modal');
            if (condition) {
                el.setAttribute('style', 'display: none');
                condition = false;
            } else {
                el.removeAttribute('style');
                var formEl = document.getElementById('deleteForm');
                var actionStr = '/movies/' + id + '/delete';
                formEl.setAttribute('action', actionStr);
                condition = true;
            }
        }
    </script>

</div>
</body>
</html>