<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/default}">
<head>
    <title>映画詳細</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/video.css}" rel="stylesheet"/>
    <style>
        h2 {
            background-color: #f5f5dc;
            margin: 0px;
        }
        .detailHead {
            display: inline-block;
        }
        .detailBody {
            border-top: black ridge; padding: 15px;
        }
        .alreadyBtn {
            width: 150%;
            height: 150%;
        }
    </style>
</head>
<body>style="border-top: black ridge; padding: 15px;
<div layout:fragment="mainContent">
    <h2>映画詳細</h2>

    <h3 class="detailHead" th:text="${movieDetail['id']}"></h3>
    <h3 class="detailHead" th:text="${movieDetail['title']}"></h3>
    <h5 class="detailHead" th:text="'（' + ${movieDetail['releaseYear']} + '年）'"></h5>
    <button class="watchedBtn" id="watchedBtn" th:text="${movieDetail['watchedFlg']==true}? '閲覧済' : '閲覧未済'"></button>

    <div class="detailBody">
        <h5 class="detailContent" th:text="'言語：' + ${movieDetail['searchLanguage']}"></h5>
        <h5 class="detailContent" th:text="'上映時間：' + ${movieDetail['showTimes']} + '分'"></h5>
        <h5 class="detailContent" th:text="'出演：' + ${actorName1['name']}"></h5>
        <h5 class="detailContent" th:text="'　　：' + ${actorName2['name']}"></h5>
        <h5 class="detailContent" th:text="'　　：' + ${actorName3['name']}"></h5>
        <h5 class="detailContent" th:text="'　　：' + ${actorName4['name']}"></h5>
    </div>
    <img th:src="${imageUrl}">


<!--    <button id='goodBtn' th:text="'いいね！：'+${article['good']} + '回'"></button>-->
<!--    <pre th:text="${article['body']}" style="border-top: black ridge; padding: 15px;"></pre>-->
<!--    <a class="newArticle" th:href="@{/blogs/edit/{id}(id=${article['id']})}">記事を編集</a>-->


    <div>
        <a class="return" href="/movie">一覧へ戻る</a>
        <a class="homeLink" href="/">ホーム</a>
    </div>
    <script th:inline="javascript">
        function watchedBtnClick() {
                var el = document.getElementById('watchedBtn');
                el.setAttribute("disabled", "disabled");
                var xhr = new XMLHttpRequest();
                var url = "/movie/[[${movieDetail['id']}]]/watched";
                xhr.open('POST', url, true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send();
                xhr.onload = function () {
                    var res = xhr.response;
                    console.log('CLICKED!' + res);
                    if(res==="true"){
                        console.log("trueだよ")
                        console.log(el)
                        el.innerText = "閲覧済";
                    }else {
                        console.log("falseだよ")
                        el.innerText = "閲覧未済";
                        console.log(el)
                    }
                    
                    el.removeAttribute("disabled");
                }
        }
        var el = document.getElementById('watchedBtn');
        el.addEventListener('click', watchedBtnClick);
    </script>

</div>
</body>
</html>