<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/default}">
<head>
    <title>映画・ドラマ・俳優のデータベース</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link media="all" th:href="@{/css/video.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="mainContent">
    <p>ゆっくりしていってね（仮）</p>
    <h2><a href="/movies">映画のデータベース</a></h2>
    <h2><a href="/settings">マスタ設定</a></h2>
</div>

</body>
</html>