<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/default}">
<head>
    <title>俳優詳細</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/video.css}" rel="stylesheet"/>
</head>
<body>style="border-top: black ridge; padding: 15px;
<div layout:fragment="mainContent">
    <h2>俳優詳細</h2>


    <h3 class="detailHead" th:text="${actorDetail['id']}"></h3>
    <h3 class="detailHead" th:text="${actorDetail['name']}"></h3>

    <div class="detailBody">
        <h5 class="detailContent" th:text="${actorDetail['sex']}"></h5>
        <h5 class="detailContent" th:text="${actorDetail['birthday']}"></h5>
        <h5 class="detailContent" th:text="${actorDetail['height']} + 'cm'"></h5>
        <h5 class="detailContent" th:text="${actorDetail['citizenship']}"></h5>
    </div>

    <div>
        <a class="homeLink" href="/">ホーム</a>
        <a class="return" href="/actors">一覧へ戻る</a>
    </div>

</div>
</body>
</html>